<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Orange Test Automation Suite" thread-count="3" parallel="tests" verbose="4">
	
	<listeners>
		<listener
			class-name="com.dev.orange.hrm.Listeners.AllureTestListeners" />
		<listener
			class-name="com.dev.orange.hrm.Listeners.ExtentReportListeners" />
		<listener
				class-name="com.dev.orange.hrm.Listeners.AnnotationTransformer" />
	</listeners>

	<test name="Orange HRM Test Automation Chrome">
		<classes>
			<class name="com.qa.orange.hrm.orangeTestCases.EmployeePageTest"/>
		</classes>
	</test>
</suite> <!-- Orange Test Automation Suite -->
